@using System.Web.Optimization
@using System.Web.UI.WebControls
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
      <title>@ViewBag.Title</title>
      <meta name="description" content="Find your local public library"/>
      <meta name="keywords" content="Library, Public Library, Public, My Library"/>
      @Styles.Render("~/Content/themes/base/css", "~/Content/Site.css")
      @Styles.Render("~/Content/bootstrap.css")
      @Styles.Render("~/Content/bootstrap-responsive.min.css")
      @Scripts.Render("http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.7.2.min.js")
      <script src="@Url.Content("~/Scripts/FindMyLibrary.js")" type="text/javascript"></script>
      @Scripts.Render("~/Scripts/bootstrap.js")
  </head>
  <body>
    <header>
      <div class="content-wrapper">
        <div class="float-left">
          <p class="site-title">@Html.ActionLink("FindMyLibrary", "Index", "Home")</p>
        </div>
        <div class="float-right">
          <section id="login">
            <p>Login</p>
          </section>
          <nav>
            <ul id="menu">
              <li>@Html.ActionLink("Home", "Index", "Home")</li>
              <li>Submit a Listing</li>
              <li>FAQ</li>
              <li>News</li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div id="body">
      @RenderBody()
    </div>
  </body>
</html>
